
.container{
	background-color:white;
	width:85%;
	padding:10px;
	margin:auto;
	box-shadow:0 2px 4px 0 white;
	cursor:pointer;
}
div.b{
	display:inline-block;
	padding:10px;


}
img{
	vertical-align:middle;
}
.section-title{
	font-family:'Raleway';
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color:lightgrey;
	font-size:25px;
	color:#4d4d4d;

}
span.a{
	color:#06A763;
}
.block{
	border:2px solid #F1EFF0;
	margin-bottom:10px;
	cursor:pointer;
}
.block:hover{
	background-color:#06A763;
	color:white;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor:pointer;
}
.column{
	float:left;
	width:25%;
	padding:10px;
	margin:auto
}
.card{
	width:auto;
	padding:10px;
	text-align:center;
	background-color:#f1f1f1;
	margin:auto;
}
.card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor:poniter; 	
}
.card-item{
	width:auto;
	padding:10px
	text-align:center;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
a:hover{
	color:Yellow;
}
.button{
	background-color:#06A763;
	border:none;
	color:white;
	display:block;
	cursor:pointer;
	width:auto;
	text-align: center;
	padding:5px;
}
*{
	box-sizing:border-box;
}

